/* 
    Created on : 18.01.2016, 16:38:18
    Author     : Harald
*/

/*
	########################################################################################
	GENERAL
	########################################################################################
*/

#loader{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 50px;
	background-color: #ffffff;
	font-size: 12pt;
	line-height: 14pt;
	text-align: center;
}

p span {
	display: block;
}

/*
	########################################################################################
	TEMPLATE
	########################################################################################
*/

#printable-invoice,
#printable-content{
	opacity: 0;
	visibility: hidden;
}

#printable-invoice.template{
	display: none;
}

#printable-invoice.page{
	opacity: 1;
	visibility: visible;
	background: white;
	width: 21cm;
	height: 29.7cm;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.2);
}

/*
	########################################################################################
	FOOTER
	########################################################################################
*/

#footer{
	position: absolute;
	bottom: 10.7mm;
	left: 13.312mm;
	right: 13.312mm;
	font-size: 8pt;
	line-height: 10pt;
}

.footer-left{
	position: absolute;
	bottom: 0;
	width: 50mm;
}

.footer-right{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 60mm;
	text-align: right;
}

.footer-right > *:first-child {
	padding-bottom: 7px;
}

.footer-center{
	position: absolute;
	bottom: 0;
	left: 60mm;
	right: 60mm;
	text-align: center;
}

.footer-center span{
	display: inline;
}

/*
	########################################################################################
	HEADER
	########################################################################################
*/

#header {
	top: 11.7mm;
	position: absolute;
}

#header > img {
	position: absolute;
	width: 22.25mm;
	left: 13.312mm;
}

.header-font.middle {
	position: absolute;
	left: 66.562mm;
	float: left;
	width: 200px;
}

.header-font.right {
	position: absolute;
	left: 119.812mm;
	float: left;
	width: 200px;
}

.header-font {
	font-size: 8pt;
	line-height: 10pt;
	margin: 0;
}

/*
	########################################################################################
	CONTENT
	########################################################################################
*/

.content{
	position: relative;
	margin-left: 39.937mm;
	margin-right: 39.937mm;
	padding-top: 36mm;
}

.column{
	width: auto !important;
	float: none !important;
}

#headline{
	margin-bottom: 11mm;
}

#headline-main{
	float: none;
	clear: left;
	width: 100%;
	box-sizing: border-box;
	padding-left: 1mm; /* align with content */
	padding-right: 1mm; /* align with content */
}

#headline-main:after{
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0px;
}

#headling-left {
	font-size: 13pt;
	line-height: 21.2pt;
	float: left;
}

#headling-middle {
	font-size: 16pt;
	line-height: 19.2pt;
	text-decoration: underline;
	text-transform: uppercase;
	position: absolute;
	left: 39.937mm;
	right: 39.937mm;
	text-align: center; 
	display: inline;
}

#headling-right {
	font-size: 13pt;
	line-height: 21.2pt;
	text-align: right;
	float: right;
}

#headline-main-content{
	float: none;
	clear: left;
	width: 100%;
}

#headline-main-content:after{
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0px;
}

#headline-main-content p{
	margin: 0;
}

#pleft {
	float: left;
}

#pmiddle {
	position: absolute;
	left: 39.937mm;
	right: 39.937mm;
	text-align: center;
}

#pright {
	float: right;
}

/*
	########################################################################################
	TABLES
	########################################################################################
*/

#table-header{
	font-size: 10pt;
	line-height: 12pt;
}

#table > table {
	width: 100%;
}

table {
	border-collapse: collapse;
}

td {
	font-size: 8pt;
	line-height: 9.6pt;
	padding: 2mm 1mm;
}

#table > table > tbody > tr > td{
	border-bottom: 0.75pt solid;
}

.td-right {
	text-align: right;
}

td.td-right:last-child{
	width: 25mm;
}

#table > table > tbody > tr:last-child td {
	border-bottom: none;
}

#table-header p{
	margin: 7mm 1mm 2mm 1mm;
}